/*******************************************index.hmtl*******************************************/
/* Fondo general y color base del texto */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2F3B42;
  color: #D8E6F2;
  font-family: 'Jersey 10', cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  
/*************** Títulos en rosa ***************/

h1,h2, h3, h4, h5 {
  color: #A62139;
  margin: 1em 0 0.5em 0;
}
  
/*************** Enlaces***************/
a {
  color: #D8E6F2;
  text-decoration: none;
}
  
a:hover {
  color: #A62139;
  text-decoration: underline;
}
  
/***************************** Estilo del footer *****************************/
footer {
  background-color: #2F3B42;
  padding: 20px;
  text-align: center;
  color: #D8E6F2;
  font-size: 18px
}
  
footer a {
  color: #A62139 ;
  margin: 0 10px;
  font-size: 18px;
    
}

footer a:hover {
  color: #D8E6F2;
}

.icono-footer1{
  width: 45px;   
  height: auto; 
  vertical-align: middle; 
  margin-right: 8px;
}

.icono-footer {
  width: 30px;   
  height: auto; 
  vertical-align: middle; 
  margin-right: 8px;
}


/*************** Contenedor principal del header ***************/
.top {
  background-color: #2F3B42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  gap: 8px;
  margin-bottom: 0px; 
}

/*************** Logo + Buscador ***************/
.logo {
  width: 350px;
  height: auto;
  margin-bottom: 0px;
}

.buscador {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}
  
.buscador input[type="search"] {
  width: 100%;
  max-width: 500px;
  padding: 1px 40px 1px 12px;
  font-family: 'Jersey 10', cursive;
  font-size:25px;
  background-color: #A62139;
  color: #D8E6F2;
  border: 2px solid #A62139;
  border-radius: 10px;
  height: 40px;
  box-sizing: border-box;
}
  
.buscador input::placeholder {
  color: #D8E6F2;
}
  
.buscador .btn-icono {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buscador .btn-icono img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/***************Usuario***************/
.usuario {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-family: 'Jersey 10', cursive;
}

.usuario a {
  color: #D8E6F2;
  text-decoration: none;
}
  
.usuario a:hover {
  color: #A64170;
}

.usuario img.icono {
  width: 40px;  
  height: auto;
  margin-right: 8px;  
  vertical-align: middle;  
  margin: 0;
  padding: 10px, 0;
}

/***************Barra de menú debajo ***************/
.menu {
  background-color: #3F4F59;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px 0;
  border-top: 1px solid #A62139;
  border-bottom: 1px solid #A62139;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px 0
}
  
.menu a {
  color: #A62139;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Jersey 10', cursive;
}
  
.menu a:hover {
  text-decoration: underline;
  color: #D8E6F2;
}



/*****************************CARRUSEL *****************************/
.carrusel {
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, #3F4F59 40%, #A62139 40%);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.carrusel input[type="radio"] {
  display: none;
}
  
.slides{
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;    
}
   

.box{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;     
    
}
  
.box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
 
.controles {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 40px;
}

.controles button {
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.dots{
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}
  
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #ec0381;
}

/*****************************PRODUCTOS DESTACADOS*****************************/
.titulo-categoria {
    font-size: 60px;
    color: #A62139;
    margin-bottom: 10px;
    padding-left: 30px; 
    text-align: center;
}
/*************** Contenedor de productos ***************/
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 32px;
    padding: 20px 0;
    align-items: center;
}

.contenido-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
  
/*************** Tarjeta individual ***************/
.tarjeta {
    min-height: 500px;
    background-color: #2F3B42;
    border: 1px solid #A62139;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(166, 33, 57, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Jersey 10', cursive;
    color: #D8E6F2;
    position: relative;
    height: 650px;
    box-sizing: border-box;
}
  
.tarjeta:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 6px 20px rgba(166, 33, 57, 0.5);
}
  
  
.imagen {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
  
.imagen-container:hover .imagen {
    transform: scale(1.1);
}  
  
/*************** Info debajo de la imagen ***************/

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100%;
  }

.card-title{  
    font-size: 24px;
    color: #A64170;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 0.3rem;
}

.card-text {
    height: 100px;
    text-align: center;
    font-size: 20px;
    flex-grow: 1;
}
  
.card-subtitle {
    font-size: 30px;
    color: #A64170;
    margin-bottom: 10px;
    text-align: center;
}

.producto-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: auto;
}
  
.cantidad {
    width: 40px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #A64170;
    background-color: #D8E6F2;
    color: #3F4F59;
    font-size: 15px;
    text-align: center;
    font-family: 'Jersey 10', cursive;
}

.cantidad::-webkit-inner-spin-button,
.cantidad::-webkit-outer-spin-button {
  opacity: 1 !important; /* asegura que las flechitas se vean */
}

.btn-carrito, .btn-vermas {
    background-color: #A64170;
    border-radius: 6px;
    border: none;
    padding: 8px 12px;
    color: #D8E6F2 !important;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Jersey 10', cursive;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}
  
.btn-carrito:hover {
    background-color: #A62139;
    box-shadow: 0 0 10px rgba(166, 33, 57, 0.7);
}

.btn-vermas:hover {
    background-color: #A62139;
    box-shadow: 0 0 10px rgba(166, 33, 57, 0.7);
}


.ver-mas {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 1px;
    padding-right: 200px;
  }
  
  .ver-mas .btn-ver-mas {
    background-color: #A62139;
    color: #D8E6F2;
    padding: 10px 25px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Jersey 10', cursive;
    transition: background-color 0.3s ease;
  }
  
  .ver-mas .btn-ver-mas:hover {
    background-color: #A64170;
  }




/*******************************************login.html & register.html*******************************************/
/*************** Contenedor principal de la página ***************/

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.login-card {
  display: flex;
  background-color: #2F3B42;
  border: 5px solid #A62139;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(236, 3, 129, 0.4);
  max-width: 1000px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}


.login-left {
  color: #ec0381;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-login {
  width: 550px;
  max-width: 100%;
  margin-bottom: 20px;
}


.login-right form h2 {
  color: #D8E6F2;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*************** Inputs ***************/
.login-right input[type="email"],
.login-right input[type="password"],
.login-right input[type="text"],
.login-right input[type="date"] {
  width: 90%;
  padding: 12px;
  font-size: 18px;
  margin: 8px 0;
  background-color: #A62139;
  border: 2px solid #D8E6F2;
  border-radius: 8px;
  color: #D8E6F2;
  font-family: 'Jersey 10', cursive;
}

.login-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  flex-wrap: wrap;
}


.login-row .checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #D8E6F2;
  font-size: 18px;
  gap: 5px;
}

.form-links {
  margin-top: 20px;
  font-size: 18px;
  color: #D8E6F2;
}

.form-links a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.boton {
    background-color: #A62139;
    color: #D8E6F2;
    border: 2px solid #D8E6F2;
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Jersey 10', cursive;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    min-width: 140px;
}

.boton-login:hover {
    background-color: #A64170;
}

input[type="date"]:not(:focus):invalid::before {
  content: attr(placeholder);
  color: #D8E6F2;
  opacity: 0.7;
}

input[type="date"]::before {
  color: #D8E6F2;
  content: attr(placeholder) ": ";
  margin-right: 0.5em;
}
input[type="date"]:focus::before {
  content: "" !important;
}

/************** ESTILO PRODUCTO POR PAGINA **************/

.subtitulo-producto {
  font-size: 25px;
  color: #A64170;
  margin: 5px 0;
}
.producto-container {
  display: flex;
  max-width: 900px;
  gap: 40px;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  margin-top: 50px; 
}
.imagen-producto {
    background-color: #2F3B42;
    border: 1px solid #A62139;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(166, 33, 57, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 550px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Jersey 10', cursive;
    color: #D8E6F2;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    min-height: 500px;
}
.imagen-producto img {
    width: 100%;
    height: auto;
}
.detalle-producto {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detalle-producto h1 {
  margin: 0 auto;
  font-size: 45px;
  color: #A64170;
display: block;
}
.detalle-producto ul {
  padding-left: 30px;
  margin: 0;
  color: white;
  font-size: 20px;
}
.precio {
  font-weight: bold;
  font-size: 50px;
  color: #A64170;
  text-align: center;
}
.producto-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.producto-footer-unid input[type="number"] {
  width: 60px;
  padding: 3px;
  font-size: 25px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 40px;
  margin-left: 15px; 
}

.producto-footer-unid button {
  background-color: #A64170;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 23px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.producto-footer-unid button:hover {
  background-color: #A62139;
}



/*******************************************carrito.html*******************************************/

form fieldset.campo-pequeno {
  max-width: 350px;
  margin: 0 auto 25px auto;
  padding: 15px 20px;
  border-width: 1.5px;
}

.titulo-carrito {
  text-align: center;
  font-size: 50px;
  color: #A62139;
  margin: 30px 0;
  font-family: 'Jersey 10', cursive;
}

.carrito-vacio {
  text-align: center;
  background-color: #2F3B42; 
  color: #A62139;
  font-size: 30px;
  padding: 15px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid #F5C6CB;
  display: none;
}

.tabla-carrito {
  width: 90%;
  margin: 0 auto;
  background-color: #3F4F59;
  color: #000000;
  border-collapse: collapse;
  font-size: 20px;
  font-family: 'Jersey 10', cursive;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.tabla-carrito thead {
  background-color: #A62139;
  color: #ffffff;
}

.tabla-carrito th,
.tabla-carrito td {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  
}

.tabla-carrito tbody td {
  color: white !important;
}

/* Total */
.total {
  text-align: right;
  margin-right: 5%;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Jersey 10', cursive;
}

/* Botones del carrito */
.botones-carrito {
  text-align: right;
  margin-right: 5%;
  margin-top: 20px;
}

.botones-carrito .btn {
  font-size: 20px;
  font-family: 'Jersey 10', cursive;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Envio */
.envio-metodo {
  background-color: #3F4F59;
  max-width: 300px;
  margin: 30px 5% 0 auto;
  padding: 15px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  font-family: 'Jersey 10', cursive;
  color: #ffffff;
}

.envio-metodo label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.envio-metodo input[type="radio"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}


.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content.metodos-pago {
  background-color: #2f3b42 !important;
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.metodos-pago h2 {
  color: #A62139; 
  margin-bottom: 20px;
  font-size: 39px;
}


.btn-pago,
.btn-cancelar {
  background-color: #A62139;
  color: white;
  border: none;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pago:hover,
.btn-cancelar:hover {
  background-color: #ec0381; 
}

/********************** checkout **********************/


.wrapper {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmacion h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #A62139;
}

.confirmacion p {
  font-size: 25px;
  margin-bottom: 15px;
}

.confirmacion {
   background-color: #2f3b42;
  padding: 40px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.confirmacion a {
  display: inline-block;
  margin-top: 20px;
  color: #A62139;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.confirmacion a:hover {
  color: #ec0381;
  text-decoration: underline; 
}




/********************************************/

.filtros {
  width: 250px;
  min-width: 200px;
  padding: 20px;
  color: #D8E6F2;
  font-size: 20px;
  font-family: 'Jersey 10', cursive;
}
.filtros h4 {
  margin-bottom: 15px;
}
.filtros label {
  display: block;
  margin-bottom: 10px;
}

.zona-productos {
  flex: 1;
}






/* ======= Reponsive para celulares ======= */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  h1, h2, h3, h4 {
    font-size: 22px;
    text-align: center;
  }

  .top,
  .menu,
  .usuario {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .logo {
    width: 100%;
    max-width: 250px;
  }

  .buscador {
    width: 100%;
    padding: 0 10px;
  }

  .buscador input[type="search"] {
    font-size: 18px;
    height: 35px;
  }

  .menu a {
    font-size: 20px;
  }

  .contenedor-productos {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .tarjeta {
    width: 90%;
    min-height: auto;
    height: auto;
  }

  .card-title,
  .card-subtitle,
  .card-text {
    font-size: 18px;
  }

  .producto-container {
    flex-direction: column;
    align-items: center;
  }

  .imagen-producto {
    width: 90%;
  }

  .detalle-producto {
    width: 90%;
  }

  .ver-mas {
    justify-content: center;
    padding: 0;
  }

  .footer {
    font-size: 14px;
  }

  .btn,
  .btn-carrito,
  .btn-vermas {
    font-size: 16px;
    padding: 10px;
  }

  .tabla-carrito {
    font-size: 16px;
  }

  .envio-metodo {
    width: 90%;
    margin: 20px auto;
  }

  .confirmacion {
    padding: 20px;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
  }

  .confirmacion h1 {
    font-size: 24px;
  }

  .confirmacion p {
    font-size: 14px;
  }

  .confirmacion a {
    font-size: 16px;
  }
}




